/* Product container */
.media-grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  width: 90%; 
  height: fit-content; 
  gap: 16px; 
  row-gap: 30px;
  color: white;
  margin: 0 auto;
}

.media-item img{
  object-fit: cover;
}

@media (max-width: 1280px) {
  .media-grid-container{
    width: 90%;
  }
}

@media (max-width: 768px) {
  .media-grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 480px) {
  .media-grid-container {
    grid-template-columns: repeat(3, 1fr); 
  }
}
